cmu-lisp-mirror/*
codigo-baixado-temp/*
*.fasl
*.lx32fsl
lisp-color
arnesi
cl-utils
doc/cl-dist-manual.aux
doc/cl-dist-manual.idx
doc/cl-dist-manual.idx.old
doc/cl-dist-manual.ilg
doc/cl-dist-manual.ind
doc/cl-dist-manual.ind.old
doc/cl-dist-manual.log
doc/cl-dist-manual.out
doc/cl-dist-manual.toc
doc/cl-dist-manual.toc.old
doc/xargs.sty
@to-read/Talk02_deLacaze1.pdf
@to-read/ilc09-xcvb.html
@to-read/sequences-20070301.pdf
doc/cl-dist-manual.dvi
doc/cl-dist-manual.pdf
doc/cl-dist-manual.ps
doc/cl-dist-manual.bbl
doc/cl-dist-manual.blg
